<h1 style="color:skyblue"> Used Auto Prices Machine Learning Project</h1>

In [818]:
# making a dirrectory for AUTO DATASET CV
import os
URL = "http://isb.pub.ro/docs/auto.csv"
PATH = os.path.join("dataset", "auto")

# print the url
print(f"URL: {URL}\nPATH: {PATH}")

URL: http://isb.pub.ro/docs/auto.csv
PATH: dataset/auto

In [819]:
# importing the dataset csv (run only once)
# import csv 
# import urllib.request
# import codecs

# if not os.path.isdir(PATH): # if PATH dirrectory don't exist then create it
    # os.makedirs(PATH)

# csv_path = os.path.join(PATH, "auto.csv") # subfolders dataset/auto/auto.csv


# urllib.request.urlretrieve(URL, csv_path) # download the file

In [820]:
print(os.getcwd()) # check current directory

/home/marius/Curs_IA/Used-Auto-Prices-Machine-Learning

In [821]:
# show DataFrame with Pandas
import pandas as pd 

autoCSV = pd.read_csv('dataset/auto/auto.csv') # read from csv

auto = pd.DataFrame(autoCSV) # make DataFrame

auto.sample(5) # show the entire DataFrame

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
7276,Skoda Rapid 1.5 TDI AT Style Plus,2016,675000,88000,Diesel,Dealer,Automatic,First Owner,21.66 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
7604,Renault KWID RXT,2018,350000,30000,Petrol,Individual,Manual,First Owner,25.17 kmpl,799 CC,53.3 bhp,72Nm@ 4386rpm,5.0
5361,Skoda Octavia L and K 1.9 TDI MT,2005,250000,120000,Diesel,Individual,Manual,Third Owner,16.4 kmpl,1896 CC,90 bhp,"21.4@ 1,900(kgm@ rpm)",5.0
280,Hyundai Accent GLE,2008,114999,95200,Petrol,Individual,Manual,Third Owner,13.2 kmpl,1495 CC,94 bhp,"12.5@ 3,500(kgm@ rpm)",5.0
1007,Toyota Innova 2.5 Z Diesel 7 Seater BS IV,2015,1325000,114368,Diesel,Dealer,Manual,Second Owner,12.99 kmpl,2494 CC,100.6 bhp,200Nm@ 1200-3600rpm,7.0

In [822]:
# print first 10 lines
auto.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [823]:
# print random lines (5)
auto.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
6000,Mahindra TUV 300 T6 Plus,2017,700000,54188,Diesel,Individual,Manual,First Owner,18.49 kmpl,1493 CC,100 bhp,240Nm@ 1600-2800rpm,7.0
1967,Chevrolet Beat Diesel LT Option,2011,140000,70000,Diesel,Individual,Manual,Fourth & Above Owner,25.44 kmpl,936 CC,57.6 bhp,150Nm@ 1750rpm,5.0
1023,Ford Fiesta EXi 1.4 TDCi Ltd,2011,300000,110000,Diesel,Individual,Manual,Third Owner,17.8 kmpl,1399 CC,68 bhp,"16.3@ 2,000(kgm@ rpm)",5.0
424,BMW X4 M Sport X xDrive20d,2019,5500000,8500,Diesel,Dealer,Automatic,First Owner,16.78 kmpl,1995 CC,190 bhp,400Nm@ 1750-2500rpm,5.0
2860,Mahindra Renault Logan 1.5 DLE Diesel,2009,125000,120000,Diesel,Individual,Manual,Third Owner,19.2 kmpl,1461 CC,65 bhp,"16@ 2,000(kgm@ rpm)",5.0

In [824]:
# print last 10 lines
auto.tail(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
8118,Hyundai i20 Magna,2013,380000,25000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8119,Maruti Wagon R LXI Optional,2017,360000,80000,Petrol,Individual,Manual,First Owner,20.51 kmpl,998 CC,67.04 bhp,90Nm@ 3500rpm,5.0
8120,Hyundai Santro Xing GLS,2008,120000,191000,Petrol,Individual,Manual,First Owner,17.92 kmpl,1086 CC,62.1 bhp,96.1Nm@ 3000rpm,5.0
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9 kmpl,998 CC,67.1 bhp,90Nm@ 3500rpm,5.0
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54 kmpl,1396 CC,88.73 bhp,219.7Nm@ 1500-2750rpm,5.0
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [825]:
# 1. Check if, in the mileage column, there is one or more units of measure. For example, there is certainly the unit of measure kmpl - km per liter;
# are there others? If so, how many records are there for each unit of measure?

auto["mileage"].value_counts()

mileage
18.9 kmpl      225
19.7 kmpl      173
18.6 kmpl      164
21.1 kmpl      157
17.0 kmpl      133
15.96 kmpl     115
22.0 kmpl      111
16.1 kmpl      111
17.8 kmpl      108
12.99 kmpl     105
16.78 kmpl      95
16.8 kmpl       95
18.2 kmpl       95
12.8 kmpl       94
28.4 kmpl       93
20.0 kmpl       90
15.1 kmpl       89
20.51 kmpl      87
22.54 kmpl      85
13.6 kmpl       84
19.0 kmpl       83
22.74 kmpl      83
24.3 kmpl       83
18.0 kmpl       80
23.0 kmpl       78
24.0 kmpl       77
22.32 kmpl      76
20.36 kmpl      74
20.3 kmpl       71
18.5 kmpl       70
23.4 kmpl       69
16.0 kmpl       68
20.77 kmpl      67
23.95 kmpl      66
15.4 kmpl       66
26.59 kmpl      65
19.3 kmpl       65
25.17 kmpl      64
14.0 kmpl       62
25.2 kmpl       60
24.7 kmpl       58
22.9 kmpl       57
18.49 kmpl      56
27.39 kmpl      54
21.21 kmpl      53
23.84 kmpl      52
20.4 kmpl       51
19.81 kmpl      50
19.1 kmpl       50
17.5 kmpl       50
17.3 kmpl       50
19.09 kmpl      47
12.05 kmpl      47
21.4 kmpl       44
23.59 kmpl      43
23.1 kmpl       43
19.67 kmpl      42
20.92 kmpl      41
14.1 kmpl       41
20.14 kmpl      39
19.01 kmpl      39
28.09 kmpl      38
21.79 kmpl      38
14.3 kmpl       37
13.93 kmpl      37
25.8 kmpl       37
24.52 kmpl      37
19.33 kmpl      37
25.44 kmpl      36
19.4 kmpl       36
25.83 kmpl      36
21.9 kmpl       36
23.01 kmpl      35
20.54 kmpl      35
17.01 kmpl      34
15.37 kmpl      34
22.37 kmpl      34
17.7 kmpl       34
17.92 kmpl      34
19.16 kmpl      33
26.0 kmpl       33
24.4 kmpl       32
21.5 kmpl       32
25.1 kmpl       32
15.3 kmpl       32
22.77 kmpl      32
17.4 kmpl       31
15.0 kmpl       30
17.6 kmpl       30
23.2 kmpl       29
13.5 kmpl       29
25.4 kmpl       28
16.5 kmpl       28
16.2 kmpl       27
18.16 kmpl      26
13.0 kmpl       26
25.0 kmpl       26
18.15 kmpl      26
17.57 kmpl      25
13.68 kmpl      25
22.7 kmpl       25
18.7 kmpl       24
21.19 kmpl      24
20.85 kmpl      24
22.07 kmpl      23
17.1 kmpl       23
20.89 kmpl      23
16.55 kmpl      23
20.45 kmpl      23
25.32 kmpl      22
13.1 kmpl       21
16.02 kmpl      20
20.5 kmpl       19
20.63 kmpl      19
17.19 kmpl      19
11.36 kmpl      19
22.1 kmpl       18
14.8 kmpl       18
11.57 kmpl      17
22.95 kmpl      17
23.08 kmpl      17
21.66 kmpl      17
0.0 kmpl        17
10.5 kmpl       17
12.55 kmpl      17
19.87 kmpl      17
23.65 kmpl      16
15.6 kmpl       16
21.94 km/kg     16
23.03 kmpl      16
21.12 kmpl      16
16.95 kmpl      16
15.04 kmpl      15
17.2 kmpl       15
13.58 kmpl      15
22.3 kmpl       15
21.63 kmpl      15
18.8 kmpl       15
23.57 kmpl      15
11.5 kmpl       15
21.38 kmpl      14
18.1 kmpl       14
17.88 kmpl      14
16.36 kmpl      14
25.5 kmpl       14
27.28 kmpl      13
16.6 kmpl       13
23.9 kmpl       13
26.6 km/kg      13
21.0 kmpl       13
26.21 kmpl      13
15.8 kmpl       13
21.64 kmpl      13
21.7 kmpl       13
20.8 kmpl       12
20.73 kmpl      12
22.5 kmpl       11
13.7 kmpl       11
27.3 kmpl       11
26.2 km/kg      11
13.2 kmpl       11
16.47 kmpl      11
11.79 kmpl      11
21.43 kmpl      11
21.02 kmpl      11
12.2 kmpl       10
20.52 kmpl      10
16.3 kmpl       10
21.01 kmpl      10
13.9 kmpl       10
21.04 kmpl      10
14.53 kmpl       9
19.34 kmpl       9
16.52 kmpl       9
12.7 kmpl        9
19.5 kmpl        9
13.4 kmpl        9
17.21 kmpl       9
15.9 kmpl        9
25.6 kmpl        9
25.47 kmpl       9
18.06 kmpl       8
18.3 kmpl        8
21.14 kmpl       8
18.78 kmpl       8
15.26 kmpl       8
20.46 kmpl       8
21.03 kmpl       8
19.02 kmpl       8
15.64 kmpl       8
12.9 kmpl        8
12.0 kmpl        8
19.62 kmpl       7
24.2 kmpl        7
14.74 kmpl       7
14.84 kmpl       7
16.9 kmpl        7
19.2 kmpl        7
18.88 kmpl       7
15.5 kmpl        7
14.28 kmpl       7
24.8 kmpl        7
23.5 kmpl        7
19.44 kmpl       7
13.8 kmpl        7
19.6 kmpl        7
17.9 kmpl        7
27.62 kmpl       6
17.09 kmpl       6
15.7 kmpl        6
24.04 kmpl       6
9.5 kmpl         6
14.95 kmpl       6
20.62 kmpl       6
18.12 kmpl       6
18.4 kmpl        6
17.3 km/kg       6
12.07 kmpl       6
14.4 kmpl        6
22.48 kmpl       6
27.4 kmpl        6
24.5 kmpl        6
13.45 km/kg      6
20.86 kmpl       6
14.7 kmpl        5
13.2 km/kg       5
16.07 kmpl       5
19.61 kmpl       5
25.01 kmpl       5
21.27 kmpl       5
12.6 kmpl        5
10.91 kmpl       5
15.73 kmpl       5
11.96 kmpl       5
15.85 kmpl       5
20.65 kmpl       5
14.24 kmpl       5
22.69 kmpl       5
22.05 kmpl       5
11.0 kmpl        5
14.2 kmpl        5
14.07 kmpl       5
26.8 kmpl        5
12.83 kmpl       5
22.71 kmpl       5
15.29 kmpl       5
23.8 kmpl        5
16.96 kmpl       4
14.09 kmpl       4
14.02 kmpl       4
22.15 kmpl       4
9.0 kmpl         4
15.42 kmpl       4
14.6 kmpl        4
19.72 kmpl       4
19.49 kmpl       4
11.7 kmpl        4
18.25 kmpl       4
19.2 km/kg       4
19.56 kmpl       4
20.37 kmpl       4
11.1 kmpl        4
22.27 kmpl       4
19.68 kmpl       4
11.18 kmpl       4
17.45 kmpl       4
16.25 kmpl       4
17.43 kmpl       4
11.4 kmpl        4
14.81 kmpl       3
23.26 kmpl       3
15.05 kmpl       3
19.98 kmpl       3
10.75 kmpl       3
11.74 kmpl       3
13.22 kmpl       3
21.8 kmpl        3
10.93 kmpl       3
10.9 km/kg       3
13.44 kmpl       3
20.34 kmpl       3
11.68 kmpl       3
19.64 kmpl       3
14.49 kmpl       3
16.84 kmpl       3
15.74 kmpl       3
11.2 kmpl        3
14.23 kmpl       3
20.7 kmpl        3
26.1 kmpl        3
13.96 kmpl       3
17.71 kmpl       3
13.55 kmpl       3
33.44 km/kg      3
17.36 kmpl       3
21.2 kmpl        3
17.68 kmpl       3
10.0 kmpl        2
16.4 kmpl        2
12.62 kmpl       2
20.38 kmpl       2
13.87 kmpl       2
20.2 kmpl        2
13.01 kmpl       2
13.73 kmpl       2
19.83 kmpl       2
12.3 kmpl        2
16.7 kmpl        2
12.4 kmpl        2
24.29 kmpl       2
20.6 kmpl        2
19.59 kmpl       2
19.08 kmpl       2
15.71 kmpl       2
21.56 kmpl       2
15.2 kmpl        2
26.83 km/kg      2
21.13 kmpl       2
17.05 kmpl       2
30.46 km/kg      2
26.3 km/kg       2
11.9 kmpl        2
20.71 kmpl       2
15.41 kmpl       2
10.1 kmpl        2
14.67 kmpl       2
13.49 kmpl       2
14.94 kmpl       1
16.0 km/kg       1
16.6 km/kg       1
15.1 km/kg       1
13.24 kmpl       1
14.4 km/kg       1
14.5 kmpl        1
14.62 kmpl       1
18.76 kmpl       1
14.99 kmpl       1
21.49 kmpl       1
17.11 kmpl       1
32.26 km/kg      1
22.8 km/kg       1
11.72 kmpl       1
11.45 kmpl       1
12.08 kmpl       1
33.0 km/kg       1
14.21 kmpl       1
12.85 kmpl       1
11.3 kmpl        1
21.72 kmpl       1
18.44 kmpl       1
16.09 kmpl       1
21.73 kmpl       1
19.0 km/kg       1
15.17 kmpl       1
21.4 km/kg       1
13.38 kmpl       1
18.48 kmpl       1
23.7 km/kg       1
17.97 kmpl       1
11.88 km/kg      1
12.12 kmpl       1
14.66 kmpl       1
32.52 km/kg      1
42.0 kmpl        1
15.11 kmpl       1
12.1 kmpl        1
17.67 kmpl       1
11.07 kmpl       1
19.12 kmpl       1
10.8 kmpl        1
18.53 kmpl       1
14.9 kmpl        1
11.8 kmpl        1
15.63 kmpl       1
23.3 kmpl        1
16.73 kmpl       1
10.9 kmpl        1
20.28 kmpl       1
16.05 kmpl       1
21.76 kmpl       1
10.71 kmpl       1
18.24 kmpl       1
17.42 kmpl       1
16.38 kmpl       1
23.87 kmpl       1
12.5 kmpl        1
21.1 km/kg       1
20.07 kmpl       1
16.34 kmpl       1
19.69 kmpl       1
20.88 km/kg      1
17.8 km/kg       1
16.51 kmpl       1
Name: count, dtype: int64

In [826]:
auto["mileage"].isna().value_counts() # Nan Values

mileage
False    7907
True      221
Name: count, dtype: int64

In [827]:
len(auto[(auto["mileage"].str.contains('kmpl')) & (auto["mileage"].notna())])

7819

In [828]:
len(auto[(auto["mileage"].str.contains('km/kg')) & (auto["engine"].notna())])

88

In [830]:
# 2. Are there vehicles with gasoline or diesel engines, for which the unit of measurement in the mileage column is in km/kg? If so, display those records.

auto["fuel"].value_counts() # firstly see all the labels

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [831]:
# chech if there are missing values (NaN) in 'mileage'
auto[auto['mileage'].isna()].sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
2253,Hyundai Santro Xing GL PLUS CNG,2007,120000,60000,CNG,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
1213,Maruti Swift VDI BSIV,2008,250000,90000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7454,Ford Figo Aspire Facelift,2018,624000,14681,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
6730,Peugeot 309 GLD,1997,57000,110000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
3194,Ford Fiesta 1.6 SXI ABS Duratec,2011,325000,53287,Petrol,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN

In [832]:
def checkFunction():
    if len(auto[(auto['mileage'].notna()) & (auto['mileage'].str.contains('km/kg')) & ((auto['fuel'] == "Diesel") | (auto['fuel'] == "Petrol"))]) == 0: # there are none
        return True
    else:
        return False, len(auto[(auto['mileage'].notna()) & (auto['mileage'].str.contains('km/kg')) & ((auto['fuel'] == "Diesel") | (auto['fuel'] == "Diesel"))])
# the dataFrame does not contain the requirements
checkFunction()

True

In [833]:
# firstly make a new column with the values from km/kg of other fuels

# mask to filter rows containing 'km/kg'
mask = auto['mileage'].str.contains('km/kg', na=False) & auto['mileage'].notna() & ((auto['fuel'] != "Petrol") | (auto['fuel'] != "Diesel"))

# filter the dataframe based on mask
filtered_auto = auto[mask]

# display the result
filtered_auto.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
402,Maruti Eeco CNG 5 Seater AC,2020,409999,35000,CNG,Individual,Manual,First Owner,20.88 km/kg,1196 CC,61.7 bhp,85Nm@ 3000rpm,5.0
5185,Maruti Zen Estilo LXI Green (CNG),2014,235000,70000,CNG,Individual,Manual,Second Owner,26.3 km/kg,998 CC,67.1 bhp,90Nm@ 3500rpm,5.0
2484,Hyundai Santro Xing GLS LPG,2010,150000,70000,LPG,Individual,Manual,Third Owner,13.45 km/kg,1086 CC,62.1 bhp,96.1Nm@ 3000rpm,5.0
35,Maruti Alto 800 CNG LXI Optional,2019,330000,10000,CNG,Individual,Manual,Second Owner,33.44 km/kg,796 CC,40.3 bhp,60Nm@ 3500rpm,4.0
3823,Hyundai i10 Magna LPG,2012,350000,30000,LPG,Individual,Manual,First Owner,19.2 km/kg,1086 CC,68.05 bhp,99.04Nm@ 4500rpm,5.0

In [834]:
# not na values
filtered_auto.isna().sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
6,False,False,False,False,False,False,False,False,False,False,False,False,False
2513,False,False,False,False,False,False,False,False,False,False,False,False,False
3956,False,False,False,False,False,False,False,False,False,False,False,False,False
7166,False,False,False,False,False,False,False,False,False,False,False,False,False
3216,False,False,False,False,False,False,False,False,False,False,False,False,False

In [835]:
# create a new column 'mileage_numeric' from the filtered DataFrame and extract the float values from mileage to put in it
auto['mileage_numeric'] = filtered_auto['mileage'].str.extract('(\d+.\d+)').astype(float)
auto.notna().sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,mileage_numeric
3904,True,True,True,True,True,True,True,True,True,True,True,True,True,False
7490,True,True,True,True,True,True,True,True,True,True,True,True,True,False
3619,True,True,True,True,True,True,True,True,True,True,True,True,True,False
7652,True,True,True,True,True,True,True,True,True,True,True,True,True,False
4206,True,True,True,True,True,True,True,True,True,True,True,True,True,False

In [836]:
# the new column with km/kg values from other options fuel
auto['mileage_numeric'].sample(5)

5357   NaN
2935   NaN
5922   NaN
4167   NaN
6199   NaN
Name: mileage_numeric, dtype: float64

In [837]:
# now replace the Nan Values with km/kg and do mean of km/kg values from other fuel name
auto['mileage'] = auto['mileage'].fillna('km/kg')
checkFunction() # there are 103 NaN values replaced with km/kg

(False, 103)

In [838]:
# # show a sample
auto[(auto['mileage'].str.contains('km/kg')) & ((auto['fuel'] == "Petrol") | (auto['fuel'] == "Diesel"))].sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,mileage_numeric
3456,Volkswagen Multivan TDI,2011,2150000,50000,Diesel,Individual,Manual,Second Owner,km/kg,NaN,NaN,NaN,NaN,NaN
1015,Fiat Punto 1.3 Emotion,2013,350000,160254,Diesel,Dealer,Manual,Second Owner,km/kg,NaN,NaN,NaN,NaN,NaN
138,BMW X1 sDrive 20D xLine,2017,2150000,27000,Diesel,Dealer,Automatic,First Owner,km/kg,NaN,NaN,NaN,NaN,NaN
1322,Hyundai Santro GS zipDrive - Euro II,2004,60000,120000,Petrol,Individual,Manual,Second Owner,km/kg,NaN,NaN,NaN,NaN,NaN
6348,Hyundai Santro LS zipPlus,2002,35000,75000,Petrol,Individual,Manual,Second Owner,km/kg,NaN,NaN,NaN,NaN,NaN

In [839]:
auto.sample(5) # dataFrame modified

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,mileage_numeric
4387,Maruti Wagon R VXI Opt 1.2,2016,434999,55000,Petrol,Dealer,Manual,First Owner,20.52 kmpl,1197 CC,81.80 bhp,113Nm@ 4200rpm,5.0,NaN
8068,Ford Figo Aspire Facelift,2017,580000,165000,Diesel,Individual,Manual,First Owner,km/kg,NaN,NaN,NaN,NaN,NaN
349,Hyundai Grand i10 Asta,2015,434999,40000,Petrol,Dealer,Manual,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0,NaN
1377,Honda City i-VTEC S,2010,350000,58544,Petrol,Dealer,Manual,Second Owner,17.4 kmpl,1497 CC,117.3 bhp,145Nm@ 4600rpm,5.0,NaN
4657,Maruti Ertiga ZDI,2013,600000,60000,Diesel,Individual,Manual,Third Owner,20.77 kmpl,1248 CC,88.8 bhp,200Nm@ 1750rpm,7.0,NaN

In [840]:
# make the average of mileage_numeric
mean_mileage = auto['mileage_numeric'].mean()

# replace the values
condition = (auto['fuel'].isin(["Petrol", "Diesel"])) & (auto['mileage'].str.contains('km/kg'))
auto.loc[condition, 'mileage'] = str(mean_mileage.__round__(2)) + " km/kg"

# remove the useless column mileage_numeric
auto = auto.drop('mileage_numeric', axis = 1)

In [841]:
# show the DataFrame
auto[((auto['fuel'] == "Petrol") | (auto['fuel'] == "Diesel")) & (auto['mileage'].str.contains('km/kg'))].sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
3097,Hyundai Santro GLS I - Euro I,1999,60000,140000,Petrol,Individual,Manual,Third Owner,21.94 km/kg,NaN,NaN,NaN,NaN
31,Fiat Palio 1.2 ELX,2003,70000,50000,Petrol,Individual,Manual,Second Owner,21.94 km/kg,NaN,NaN,NaN,NaN
7433,Maruti Swift 1.3 VXi,2009,198000,91000,Petrol,Individual,Manual,Second Owner,21.94 km/kg,NaN,NaN,NaN,NaN
774,Hyundai Santro GLS I - Euro I,1999,80000,110000,Petrol,Individual,Manual,Second Owner,21.94 km/kg,NaN,NaN,NaN,NaN
2551,Maruti Swift VDI BSIV,2011,320000,120000,Diesel,Individual,Manual,Second Owner,21.94 km/kg,NaN,NaN,NaN,NaN

In [842]:
# now see how many are with petrol and diesel and km/kg
len(auto[((auto['fuel'] == "Petrol") | (auto['fuel'] == "Diesel")) & (auto['mileage'].str.contains('km/kg'))])

214

In [843]:
# 3. Apparently, in the engine column the displacement is expressed only in cubic centimeters (CC), 
# and the max_power column contains values ​​expressed only in wheel horse power (bhp - break horse power). 
# Similar to point 1 above, it analyzes whether the engine and max_power attributes still contain values ​​expressed in other units of measurement.

# for engine
# pd.set_option("display.max_rows", None)
auto["engine"].value_counts()

engine
1248 CC    1017
1197 CC     832
998 CC      453
796 CC      444
2179 CC     389
1498 CC     375
1396 CC     321
1199 CC     271
2494 CC     222
2523 CC     195
1461 CC     185
1198 CC     182
1497 CC     181
1582 CC     156
1493 CC     142
1086 CC     138
1399 CC     121
814 CC      121
1405 CC     113
1995 CC     102
1598 CC     101
1196 CC      92
799 CC       79
999 CC       77
1999 CC      69
1186 CC      61
1061 CC      59
1364 CC      54
1120 CC      53
1496 CC      49
1591 CC      48
1193 CC      45
2498 CC      45
1968 CC      44
995 CC       43
1373 CC      43
1298 CC      41
936 CC       36
1991 CC      35
1969 CC      35
2487 CC      34
2982 CC      33
2499 CC      33
1984 CC      32
2755 CC      32
1997 CC      31
993 CC       26
624 CC       25
2393 CC      25
1956 CC      24
2143 CC      24
2489 CC      23
2956 CC      21
1798 CC      21
1368 CC      21
1495 CC      20
1586 CC      20
1998 CC      20
1599 CC      18
1047 CC      18
1194 CC      18
1499 CC      18
2993 CC      17
1896 CC      17
2354 CC      15
2609 CC      14
1794 CC      14
1799 CC      13
1948 CC      12
2987 CC      11
1462 CC      10
1172 CC      10
2967 CC       9
1341 CC       9
1388 CC       9
1596 CC       9
2477 CC       7
1150 CC       7
1597 CC       6
1797 CC       6
3604 CC       6
793 CC        6
3198 CC       5
2696 CC       5
2199 CC       5
1527 CC       4
2148 CC       4
2953 CC       4
2359 CC       4
2694 CC       3
1796 CC       3
1299 CC       3
2497 CC       3
1343 CC       3
1451 CC       3
1595 CC       3
2999 CC       3
909 CC        3
1390 CC       3
2200 CC       3
1781 CC       2
2198 CC       2
1795 CC       2
2092 CC       2
2231 CC       2
1994 CC       2
2596 CC       2
2362 CC       2
2997 CC       2
2776 CC       1
3498 CC       1
2446 CC       1
2650 CC       1
1339 CC       1
1590 CC       1
2197 CC       1
2835 CC       1
1489 CC       1
1422 CC       1
2496 CC       1
1950 CC       1
Name: count, dtype: int64

In [844]:
auto["engine"].isna().value_counts() # Nan Values

engine
False    7907
True      221
Name: count, dtype: int64

In [845]:
len(auto[(auto["engine"].str.contains('CC')) & (auto["engine"].notna())]) # how many CC

7907

In [846]:
len(auto[(auto["engine"].isna())]) # how many Na

221

In [847]:
if len(auto[(auto["engine"].str.contains('CC')) & (auto["engine"].notna())]) + len(auto[(auto["engine"].isna())]) == len(auto["engine"]):
    print(True)

True

In [848]:
# for max power
auto["max_power"].value_counts()

max_power
74 bhp         377
81.80 bhp      220
88.5 bhp       204
67 bhp         165
46.3 bhp       162
67.1 bhp       151
88.7 bhp       148
67.04 bhp      145
70 bhp         141
62.1 bhp       141
47.3 bhp       141
88.73 bhp      132
120 bhp        131
81.86 bhp      131
140 bhp        128
68 bhp         127
73.9 bhp       124
88.76 bhp      124
55.2 bhp       121
98.6 bhp       118
67.05 bhp      117
190 bhp        110
75 bhp         108
82 bhp         108
63 bhp         100
81.83 bhp       97
37 bhp          92
100 bhp         90
100.6 bhp       87
78.9 bhp        85
102 bhp         84
90 bhp          82
69 bhp          77
126.2 bhp       75
68.05 bhp       74
85.8 bhp        71
88.8 bhp        70
74.02 bhp       66
177 bhp         65
126.32 bhp      65
53.3 bhp        64
84 bhp          63
73.97 bhp       61
83.8 bhp        58
108.5 bhp       57
138.1 bhp       55
86.8 bhp        51
98.96 bhp       49
103.6 bhp       48
117.3 bhp       47
108.45 bhp      46
147.94 bhp      45
80 bhp          45
83.1 bhp        45
121.3 bhp       44
103.5 bhp       43
62 bhp          43
71 bhp          43
110 bhp         41
73 bhp          38
99 bhp          38
214.56 bhp      34
93.7 bhp        34
157.7 bhp       33
150 bhp         32
98.59 bhp       32
73.94 bhp       31
69.01 bhp       31
170 bhp         30
103.2 bhp       29
78 bhp          29
83.14 bhp       28
138.03 bhp      28
105 bhp         27
60 bhp          27
65 bhp          26
57.6 bhp        25
112 bhp         25
118 bhp         24
85.80 bhp       23
77 bhp          23
35 bhp          22
91.1 bhp        22
34.2 bhp        21
153.86 bhp      21
82.85 bhp       21
84.8 bhp        21
147.8 bhp       20
79.4 bhp        20
168.5 bhp       20
171.5 bhp       19
147.9 bhp       19
64 bhp          18
88.50 bhp       18
66.1 bhp        18
94 bhp          17
187.74 bhp      17
95 bhp          17
116.3 bhp       17
98.63 bhp       16
64.1 bhp        16
115 bhp         16
85 bhp          15
86.7 bhp        15
72.4 bhp        15
61.7 bhp        15
117.6 bhp       14
184 bhp         14
108.6 bhp       14
138 bhp         14
126.3 bhp       14
141 bhp         14
174.5 bhp       13
152.87 bhp      13
103.52 bhp      13
121 bhp         13
58.16 bhp       13
53.64 bhp       12
73.8 bhp        12
53.5 bhp        12
52.8 bhp        12
82.4 bhp        12
56.3 bhp        11
63.1 bhp        11
67.06 bhp       11
37.48 bhp       11
130 bhp         11
68.1 bhp        11
94.93 bhp       11
83.83 bhp       11
108.62 bhp      11
105.5 bhp       11
58.2 bhp        11
104.68 bhp      10
73.74 bhp       10
110.4 bhp       10
91.7 bhp        10
171 bhp         10
76 bhp          10
87.2 bhp        10
97.7 bhp        10
88.2 bhp         9
99.6 bhp         9
163.7 bhp        9
83 bhp           9
123.7 bhp        9
174.33 bhp       9
97.9 bhp         9
241.4 bhp        9
89.84 bhp        8
72 bhp           8
66 bhp           8
113.42 bhp       8
76.9 bhp         8
181 bhp          8
103.3 bhp        8
76.8 bhp         8
147.51 bhp       7
188 bhp          7
125 bhp          7
88 bhp           7
204 bhp          7
73.75 bhp        7
108.495 bhp      7
83.81 bhp        7
94.68 bhp        7
63.12 bhp        6
57.5 bhp         6
261.4 bhp        6
116.6 bhp        6
118.35 bhp       6
74.96 bhp        6
147.5 bhp        6
103.25 bhp       6
280 bhp          6
47 bhp           6
65.3 bhp         6
37.5 bhp         6
0                6
83.11 bhp        6
92 bhp           6
100.57 bhp       5
175.56 bhp       5
160 bhp          5
136 bhp          5
194.3 bhp        5
91.72 bhp        5
89.75 bhp        5
197 bhp          5
148 bhp          5
121.36 bhp       5
148.31 bhp       4
121.4 bhp        4
71.01 bhp        4
270.9 bhp        4
158.8 bhp        4
74.9 bhp         4
177.6 bhp        4
127 bhp          4
53 bhp           4
178 bhp          4
187.7 bhp        4
113.4 bhp        4
187.4 bhp        4
99.23 bhp        4
118.3 bhp        4
183 bhp          4
235 bhp          3
64.4 bhp         3
198.25 bhp       3
100.5 bhp        3
254.8 bhp        3
40.3 bhp         3
165 bhp          3
143 bhp          3
139.01 bhp       3
104.55 bhp       3
116.4 bhp        3
52 bhp           3
45 bhp           3
102.5 bhp        3
58 bhp           3
68.07 bhp        3
218 bhp          3
84.48 bhp        3
122.4 bhp        3
254.79 bhp       3
32.8 bhp         2
35.5 bhp         2
134.10 bhp       2
152 bhp          2
106 bhp          2
91.2 bhp         2
101 bhp          2
189 bhp          2
105.3 bhp        2
82.9 bhp         2
53.26 bhp        2
98.97 bhp        2
66.6 bhp         2
38 bhp           2
142 bhp          2
132 bhp          2
174.57 bhp       2
64.08 bhp        2
194.4 bhp        2
177.5 bhp        2
167.67 bhp       2
48.21 bhp        2
258 bhp          2
103 bhp          2
164.7 bhp        2
160.77 bhp       2
120.69 bhp       2
121.31 bhp       2
181.04 bhp       2
82.5 bhp         2
123.37 bhp       2
80.8 bhp         2
241 bhp          2
93.87 bhp        2
177.46 bhp       2
120.7 bhp        2
38.4 bhp         2
78.8 bhp         2
126.24 bhp       2
158 bhp          2
110.5 bhp        1
168.7 bhp        1
144 bhp          1
203 bhp          1
201.1 bhp        1
 bhp             1
149.5 bhp        1
197.2 bhp        1
103.26 bhp       1
104.5 bhp        1
139.46 bhp       1
161 bhp          1
134 bhp          1
60.2 bhp         1
170.30 bhp       1
98.79 bhp        1
194 bhp          1
80.9 bhp         1
167.62 bhp       1
58.3 bhp         1
272 bhp          1
141.1 bhp        1
86.79 bhp        1
170.63 bhp       1
68.4 bhp         1
189.3 bhp        1
169 bhp          1
162 bhp          1
156 bhp          1
400 bhp          1
282 bhp          1
104 bhp          1
155 bhp          1
167.6 bhp        1
112.2 bhp        1
116.9 bhp        1
198.5 bhp        1
179.5 bhp        1
138.08 bhp       1
92.7 bhp         1
58.33 bhp        1
55.23 bhp        1
265 bhp          1
157.75 bhp       1
186 bhp          1
224 bhp          1
64.9 bhp         1
86 bhp           1
98.82 bhp        1
163.2 bhp        1
203.2 bhp        1
175 bhp          1
57 bhp           1
80.84 bhp        1
135.1 bhp        1
Name: count, dtype: int64

In [849]:
auto["max_power"].isna().value_counts() # Nan Values

max_power
False    7913
True      215
Name: count, dtype: int64

In [850]:
len(auto[(auto["max_power"].str.contains('bhp')) & (auto["max_power"].notna())]) # how many bhp

7907

In [851]:
len(auto[(auto["max_power"].isna())]) # how many Na

215

In [852]:
if len(auto[(auto["max_power"].str.contains('bhp')) & (auto["max_power"].notna())]) + len(auto[(auto["max_power"].isna())]) == len(auto["max_power"]):
    print(True)

In [853]:
filtered_values = auto[(~auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())] # check if there are other values in max_power
filtered_values

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
575,Maruti Alto K10 LXI,2011,204999,97500,Petrol,Individual,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN
576,Maruti Alto K10 LXI,2011,204999,97500,Petrol,Individual,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN
1442,Maruti Swift Dzire VDI Optional,2017,589000,41232,Diesel,Dealer,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN
1443,Maruti Swift Dzire VDI Optional,2017,589000,41232,Diesel,Dealer,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN
2549,Tata Indica Vista Quadrajet LS,2012,240000,70000,Diesel,Individual,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN
2550,Tata Indica Vista Quadrajet LS,2012,240000,70000,Diesel,Individual,Manual,First Owner,21.94 km/kg,NaN,0,NaN,NaN

In [854]:
# replace 0 values with mean values
# auto[(~auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())] = 
# newValues = auto['max_power'].str.extract('(\d+.\d+)').astype(float)
mask_filtered = (~auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())
filter_columnValueZero = auto[mask_filtered]
filter_columnValueZero['max_power']

575     0
576     0
1442    0
1443    0
2549    0
2550    0
Name: max_power, dtype: object

In [855]:
len(auto[(~auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())]) # 0 values

6

In [856]:
# make the mean value
filterForMeanValues = auto['max_power'].str.extract('(\d+.\d+)').astype(float).dropna()
filterForMeanValues.sample(5)

           0
7214  126.30
7315   81.86
296    85.80
6783   46.30
577   120.00

In [857]:
mean_mileage = filterForMeanValues.mean()

# replace the values
auto.loc[mask_filtered, 'max_power'] = str(mean_mileage.__round__(2)) + " bhp"

In [858]:
auto[(auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())].sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
3429,Maruti Ertiga ZDI,2013,509999,148000,Diesel,Individual,Manual,First Owner,20.77 kmpl,1248 CC,88.8 bhp,200Nm@ 1750rpm,7.0
6001,Mahindra TUV 300 T6 Plus,2017,750000,60000,Diesel,Individual,Manual,First Owner,18.49 kmpl,1493 CC,100 bhp,240Nm@ 1600-2800rpm,7.0
1406,Maruti Swift Dzire VDi,2012,400000,100000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
6647,Maruti Eeco 5 Seater AC BSIV,2016,375000,120000,Petrol,Individual,Manual,First Owner,15.37 kmpl,1196 CC,73 bhp,101Nm@ 3000rpm,5.0
567,Maruti SX4 S Cross 2015-2017 DDiS 200 Zeta,2016,675000,52000,Diesel,Individual,Manual,First Owner,23.65 kmpl,1248 CC,88.5 bhp,200Nm@ 1750rpm,5.0

In [859]:
len(auto[(~auto["max_power"].astype(str).str.contains('bhp')) & (auto["max_power"].notna())]) # no 0 values anymore

0

In [860]:
# 4. Check how many values ​​are missing from each column. Display the result both in absolute value and in percentage.
# absolute value
auto.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage            0
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [861]:
# percentage
(auto.isnull().mean() * 100).round(2).astype(str) + '%'

name              0.0%
year              0.0%
selling_price     0.0%
km_driven         0.0%
fuel              0.0%
seller_type       0.0%
transmission      0.0%
owner             0.0%
mileage           0.0%
engine           2.72%
max_power        2.65%
torque           2.73%
seats            2.72%
dtype: object

In [862]:
#5. Keep only the numeric part in the mileage, engine and max_power columns.

# remove non-numeric values in the "mileage" column
auto['mileage'] = pd.to_numeric(auto['mileage'].replace('[^\d.]', '', regex=True), errors='coerce')

# remove non-numeric values in the "engine" column
auto['engine'] = pd.to_numeric(auto['engine'].replace('[^\d]', '', regex=True), errors='coerce')

# remove non-numeric values in the "max_power" column
auto['max_power'] = pd.to_numeric(auto['max_power'].replace('[^\d.]', '', regex=True), errors='coerce')

# replace NaN values with 0
auto[['mileage', 'engine', 'max_power']] = auto[['mileage', 'engine', 'max_power']].fillna(0)

auto.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
7339,Maruti Celerio ZXI Optional AMT BSIV,2016,434999,10000,Petrol,Dealer,Automatic,First Owner,23.10,998.0,67.04,90Nm@ 3500rpm,5.0
327,Hyundai i20 1.2 Asta,2010,254999,80000,Petrol,Individual,Manual,Fourth & Above Owner,17.00,1197.0,80.00,"11.4 kgm at 4,000 rpm",5.0
6068,Maruti Swift ZXI Plus,2020,578000,5000,Petrol,Individual,Manual,First Owner,21.21,1197.0,81.80,113Nm@ 4200rpm,5.0
2616,Tata Indica V2 DL BSIII,2007,90000,50000,Diesel,Individual,Manual,First Owner,17.88,1396.0,52.80,85Nm@ 2500rpm,5.0
988,Hyundai Verna VTVT 1.6 SX Option,2018,1100000,60000,Petrol,Individual,Manual,First Owner,17.00,1591.0,121.30,151Nm@ 4850rpm,5.0

In [863]:
# 6. Remove the column torque

auto = auto.drop('torque', axis = 1)
auto.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
3802,Hyundai EON Era Plus,2017,300000,15151,Petrol,Individual,Manual,Second Owner,21.10,814.0,55.20,5.0
2993,Mahindra Bolero Power Plus Plus Non AC BSIV PS,2017,580000,95000,Diesel,Individual,Manual,First Owner,15.96,2523.0,63.00,9.0
447,Tata Safari DICOR 2.2 LX 4x2,2012,390000,80000,Diesel,Individual,Manual,First Owner,13.93,2179.0,138.03,7.0
1520,Tata Indigo CS LX (TDI) BS III,2012,150000,150000,Diesel,Individual,Manual,Third Owner,19.09,1396.0,69.00,5.0
7537,Ford Figo Petrol LXI,2010,180000,50000,Petrol,Individual,Manual,Second Owner,15.60,1196.0,70.00,5.0